:root{
 --color-bg: #303a63;
 --color-text: #F2D7B6;
--color-accent: #784E3A;
 --font-title: 'cattivo', sans-serif;
 --font-body: 'lipa-agate-high', sans-serif;
}

body{
background-color: var(--color-bg);
color: var(--color-text);
font-family: var(--font-body);

}

h1{
    font-family: var(--font-title);
}